body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
h1 {
    color: #333;
}
img {
    border-radius: 50%;
}



ul {
    list-style-type: square;
    color: pink;
    padding:10px;
}
ul::marker {
    color: pink;
}
ol {
    color: purple;
    margin-left:20px;
}
table {
    width: 100%;
    text-align: left;
    border: 1px solid black;
}
th {
background-color: #f4f4f4;
font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(160, 67, 49);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a:hover {
    color:rgb(255, 30, 0);
    text-decoration: underline;
    background-color: darkblue;
}
@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    p{
        font-size: 14px;
        }
}